function Snake.new 0
push constant 6
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push this 0
push this 1
push this 2
push constant 0
call SnakeNode.new 4
pop this 3
push this 3
pop this 4
push argument 3
pop this 5
push this 3
call SnakeNode.draw 1
pop temp 0
push pointer 0
return
function Snake.dispose 0
push argument 0
pop pointer 0
push this 3
call SnakeNode.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Snake.moveUp 1
push argument 0
pop pointer 0
push this 1
push constant 1
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
push constant 3
sub
pop this 1
push pointer 0
call Snake.isTouchingFood 1
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 5
call Food.erase 1
pop temp 0
push this 5
call Food.drawInRandomLocation 1
pop temp 0
push this 2
push constant 0
call SnakeNode.newWithoutLocation 2
pop local 0
push this 4
push local 0
call SnakeNode.setNext 2
pop temp 0
push local 0
pop this 4
label IF_FALSE1
push this 3
push this 0
push this 1
call SnakeNode.updateSnakeLocation 3
pop temp 0
goto IF_END0
label IF_FALSE0
call Sys.halt 0
pop temp 0
label IF_END0
push constant 0
return
function Snake.moveDown 1
push argument 0
pop pointer 0
push this 1
push this 2
add
push constant 254
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
push constant 3
add
pop this 1
push pointer 0
call Snake.isTouchingFood 1
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 5
call Food.erase 1
pop temp 0
push this 5
call Food.drawInRandomLocation 1
pop temp 0
push this 2
push constant 0
call SnakeNode.newWithoutLocation 2
pop local 0
push this 4
push local 0
call SnakeNode.setNext 2
pop temp 0
push local 0
pop this 4
label IF_FALSE1
push this 3
push this 0
push this 1
call SnakeNode.updateSnakeLocation 3
pop temp 0
goto IF_END0
label IF_FALSE0
call Sys.halt 0
pop temp 0
label IF_END0
push constant 0
return
function Snake.moveLeft 1
push argument 0
pop pointer 0
push this 0
push constant 1
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push constant 3
sub
pop this 0
push pointer 0
call Snake.isTouchingFood 1
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 5
call Food.erase 1
pop temp 0
push this 5
call Food.drawInRandomLocation 1
pop temp 0
push this 2
push constant 0
call SnakeNode.newWithoutLocation 2
pop local 0
push this 4
push local 0
call SnakeNode.setNext 2
pop temp 0
push local 0
pop this 4
label IF_FALSE1
push this 3
push this 0
push this 1
call SnakeNode.updateSnakeLocation 3
pop temp 0
goto IF_END0
label IF_FALSE0
call Sys.halt 0
pop temp 0
label IF_END0
push constant 0
return
function Snake.moveRight 1
push argument 0
pop pointer 0
push this 0
push this 2
add
push constant 510
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push constant 3
add
pop this 0
push pointer 0
call Snake.isTouchingFood 1
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 5
call Food.erase 1
pop temp 0
push this 5
call Food.drawInRandomLocation 1
pop temp 0
push this 2
push constant 0
call SnakeNode.newWithoutLocation 2
pop local 0
push this 4
push local 0
call SnakeNode.setNext 2
pop temp 0
push local 0
pop this 4
label IF_FALSE1
push this 3
push this 0
push this 1
call SnakeNode.updateSnakeLocation 3
pop temp 0
goto IF_END0
label IF_FALSE0
call Sys.halt 0
pop temp 0
label IF_END0
push constant 0
return
function Snake.isTouchingFood 0
push argument 0
pop pointer 0
push pointer 0
push this 0
call Snake.xInFood 2
push pointer 0
push this 1
call Snake.yInFood 2
and
push pointer 0
push this 0
push this 2
add
call Snake.xInFood 2
push pointer 0
push this 1
call Snake.yInFood 2
and
or
push pointer 0
push this 0
push this 2
add
call Snake.xInFood 2
push pointer 0
push this 1
push this 2
add
call Snake.yInFood 2
and
or
push pointer 0
push this 0
call Snake.xInFood 2
push pointer 0
push this 1
push this 2
add
call Snake.yInFood 2
and
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function Snake.yInFood 0
push argument 0
pop pointer 0
push argument 1
push this 5
call Food.getY 1
eq
push argument 1
push this 5
call Food.getY 1
gt
push argument 1
push this 5
call Food.getYF 1
lt
and
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function Snake.xInFood 0
push argument 0
pop pointer 0
push argument 1
push this 5
call Food.getX 1
eq
push argument 1
push this 5
call Food.getX 1
gt
push argument 1
push this 5
call Food.getXF 1
lt
and
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
